.catTitle{
  text-align: center;
  color: #555555;
  font-size: 48px;
  font-weight: 400;
}

.catImg{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.cards_list{
  flex-wrap: wrap;
}

.card_list{
  margin-bottom: 3%;
}