/* .container_home {
} */
.card_holder {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  background-color: #ac8f78;
  height: 430px;
  width: 310px;
  left: 0px;
  top: 0px;
  border-radius: 6px;
  margin-bottom: 30px;
}

.h1home {
  position: absolute;
  right: 1350px;
  top: 300px;

  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;

  letter-spacing: -0.03em;

  color: #555555;
}

.nameCards {
  padding-right: 10px;
}

.h3home {
  font-size: 32px;
  font-weight: 400;
  color: #555555;
}

.descHome {
  font-weight: 100;
  font-size: 18px;
  color: #555555;
}

.h4home {
  font-weight: 400;
  font-size: 24px;
  color: #555555;
}

.sign {
  width: 140px;
  height: 66px;

}

.homeDesc{
  display: flex;
  margin-top: 5%;
}

.rectangleHome{
  width: auto;
  height: 800px;
}

.homeRight{
  margin-top: 200px;
  margin-left: 114px;
  margin-right: 114px;
}