.container_home{
  width: 95%;
  margin-left: 2.5%;
}

.card_holder {
  margin-bottom: 2%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.card_home {
  background-color: #EEE4DA;
  height: 400px;
  width: 300px;
  border-radius: 6px;
  position: relative;
}

.cardProd_home:hover{
  cursor: pointer;
  box-shadow: 1px -2px 24px -11px rgba(86, 57, 41, 0.6) inset;
}

.home_cat:hover{
  cursor: pointer;
  opacity: 70%;
}

.h1home {
  margin: 0;
  position: absolute;
  font-weight: 400;
  font-size: 48px;
  color: #555555;
  z-index: 2;
  left: 30px;
  bottom: 20px;
}

.h1homeProd{
  color: #555555;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  z-index: 2;
  bottom: 5px;
  left: 10px;
}

.h1homePrice{
  position: absolute;
  color: #555555;
  font-size: 18px;
  font-weight: 400;
  z-index: 2;
  bottom: 5px;
  right: 10px;
}

.card_img{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.card_imgP{
  position: absolute;
  z-index: 1;
  left: auto;
  right: auto;
}

.nameCards {
  padding-right: 10px;
}

.h3home {
  font-size: 32px;
  font-weight: 400;
  color: #555555;
}

.descHome {
  font-weight: 100;
  font-size: 18px;
  color: #555555;
}

.h4home {
  font-weight: 400;
  font-size: 24px;
  color: #555555;
}

.sign {
  width: 140px;
  height: 66px;

}

.homeDesc{
  display: flex;
  margin-top: 5%;
}

.rectangleHome{
  width: auto;
  height: 800px;
}

.homeRight{
  margin-top: 200px;
  margin-left: 114px;
  margin-right: 114px;
}