.navHead {
  position: absolute;
  top: 0;
  z-index: 100;
  background-color: #f5ece300;
  width: 100%;
  height: 100px;
  display: flex;
}

.navLists {
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.navListW {
  font-weight: 400;
  height: 17px;
  color: #fff;
  margin-left: 50px;
}

.navIcons {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 70px;
}

.navIcon {
  margin-right: 25px;
}
.textNav {
  margin-right: 48px;
}

.navLogo {
  margin: auto;
  font-family: "Times New Roman", Times, serif;
}
#navLogo {
  height: 15px;
}

.search-inpW {
  cursor: pointer;
  border: rgba(255, 255, 255, 0);
  border-radius: 150px;
  color: #000000;
  height: 26px;
  width: 26px;
  background: #f5ece300 url("../../imgs/searchWhite.png") no-repeat 10px center;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

.search-inpW:focus {
  cursor: auto;
  border: 0;
  background: #f5ece36c;
  width: 200px;
}

.swiper {
  color: #fff;
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 700px;
}

.swiper-slide {
  text-align: center;
  font-size: 48px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headerMain {
  position: relative;
  margin-bottom: 5%;
}

.swiper1 {
  background-image: url("../../imgs/header.png");
}

.swiper2 {
  background-image: url("../../Media/kartinka1.jpg");
}

.swiper3 {
  background-image: url("../../Media/kartinka3.jpg");
}

@media (max-width: 768px) {
}
@media (max-width: 425px) {
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {
}
