.navBar {
  margin: 0;
  background-color: #f5ece3;
  width: auto;
  height: 100px;
  display: flex;
}

.navLists {
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.navList {
  font-weight: 400;
  height: 17px;
  color: #555555;
  margin-left: 50px;
}
#burger {
  font-weight: 400;
  height: 17px;
  color: #555555;
  margin-left: 50px;
  margin-top: 40px;
}

.navIcons {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 70px;
}

.navIcon {
  cursor: pointer;
  margin-right: 25px;
}
.textNav {
  margin-right: 48px;
}

.navLogo {
  margin: auto;
  font-family: "Times New Roman", Times, serif;
}

#navLogo {
  height: 15px;
}

.search-inp {
  cursor: pointer;
  border: #ffff;
  border-radius: 150px;
  color: #000000;
  height: 26px;
  width: 26px;
  background: #f5ece3 url(../../imgs/search.png) no-repeat 10px center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.search-inp:focus {
  cursor: auto;
  border: 0;
  background: #f5ece3;
  width: 200px;
}
@media (max-width: 1024px) {
  #burger {
    display: none;
  }
}

@media (max-width: 768px) {
  .navLists {
    display: none !important;
  }
  .navIcons {
    margin-right: 0px !important;
  }
  #navLogo {
    margin-left: 10px;
  }
}
@media (max-width: 425px) {
  .navLists {
    display: none !important;
  }
  .navIcon {
    margin-right: 26px;
  }
  .textNav {
    display: none;
  }
}
@media (max-width: 375px) {
  .navIcons {
    margin-right: -30px !important;
  }
}
@media (max-width: 320px) {
  #userMan {
    display: none !important;
  }
  #cartIcon {
    display: none !important;
  }
}
