.pdimg {
  position: absolute;
  width: 720px;
  height: 900px;
  left: 0px;
  top: 120px;
  bottom: 0px;

  border-radius: 0px 0px 6px 0px;
}
.heartlogo {
  box-sizing: border-box;

  position: absolute;
  left: 0.13%;
  right: 91.73%;
  top: 10.53%;
  bottom: 15.79%;
}
.favtext {
  position: absolute;
  left: 14%;
  right: 36.13%;
  top: 0%;
  bottom: 10.53%;

  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.03em;

  color: #555555;
}
.milk {
  position: absolute;
  width: 407px;
  height: 53px;
  left: 883px;
  top: 338px;
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;

  letter-spacing: -0.03em;

  color: #555555;
}
