.titulAdd {
  display: flex;
  text-align: center;
  position: absolute;

  left: 570px;
  top: 20px;

  font-weight: 400;
  font-size: 60px;
  line-height: 110%;

  letter-spacing: -0.03em;

  color: #555555;
}

.inputAdd {
  position: absolute;
  width: 241px;
  height: 11px;
  left: 630px;
  top: 150px;
}
.input1Add {
  position: absolute;
  width: 241px;
  height: 11px;
  left: 390px;
  top: 200px;
}
.input2Add {
  position: absolute;
  width: 241px;
  height: 11px;
  left: 150px;
  top: 250px;
}
.input3Add {
  position: absolute;
  width: 241px;
  height: 11px;
  left: -90px;
  top: 300px;
}
/* .input4Add {
  position: absolute;
  width: 241px;
  height: 37px;
  left: 634px;
  top: 376px;
} */
.input4Add {
  position: absolute;
  width: 241px;
  height: 11px;
  left: -330px;
  top: 350px;
}
.input5Add {
  position: absolute;
  width: 241px;
  height: 11px;
  left: -570px;
  top: 400px;
}
.input6Add {
  position: absolute;
  width: 241px;
  height: 11px;
  left: 635px;
  top: 430px;
}
.input7Add {
  position: absolute;
  width: 241px;
  height: 11px;
  left: 395px;
  top: 480px;
}
.save-btn {
  position: absolute;
  left: 35.49%;
  right: 35.49%;
  height: 10%;

  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  top: 80%;

  background: #eee4da;
  border-radius: 76px;
  border-color: #a68665;
}
