.our {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;

  letter-spacing: -0.03em;

  color: #555555;
}
.imgour {
  width: 1300px;
  height: 466px;
  left: 70px;
  top: 314px;
  margin-left: 100px;
}
.conteiner_ourimg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.kvadraty {
  width: 314px;
  height: 120px;
  margin-top: 40px;
  margin-left: 55px;
  margin-right: 70px;
  margin-bottom: 40px;
  background: #eee4da;
  border-radius: 6px;
}
.titleour {
  display: flex;
  padding-top: 30px;
  padding-left: 130px;

  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: #555555;

  opacity: 0.3;
}
.numberour {
  padding-left: 50px;

  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 110%;

  color: #555555;
}
.textour {
  display: flex;
  padding-right: 50px;
  width: 492px;

  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #555555;
}
.blackimg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}
.black {
  margin-bottom: 20px;
}
.blockour {
  display: flex;
  margin-top: 50px;
}

.logonum {
  margin-left: 5px;
  margin-top: 60px;
}
.request {
  width: 303px;
  height: 40px;
  left: 151px;
  top: 2741px;

  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -0.03em;

  color: #555555;
}

.inpour1 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.inpour2 {
  margin-top: 20px;
}
.inpour3 {
  margin-top: 20px;
}
.btnour {
  color: #555555;
  background-color: #eee4da;
  cursor: pointer;
  border-radius: 66px;
  width: 400px;
  height: 80px;
  font-size: 20px;
  border: #eee4da;
  box-shadow: 0px 5px 23px -5px rgba(34, 60, 80, 0.6);
  margin-top: 50px;
}
.imgour2 {
  margin-top: 55px;
  margin-left: 220px;
  margin-bottom: 50px;

  border-radius: 6px;
}
